
# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
package-lock.json
/config.js

docker-compose.yml
qrcode.png
private.key
project.private.config.json

docker-compose.yml
